---
layout: main
permalink: /404.html
---
<div class="aksara-box justify-content-center align-items-center h-100">
  <div class="text-secondary">
    <div class="fs-404">404</div>
    <h4>Halaman tidak ditemukan</h4>
  </div>
</div>
