---
layout: main
---

<main id="aksara" class="page">
    <div class="container">
        <h1>Ina Ni Surat</h1>
        <div id="ina-nisurat"></div>
    </div>
    <div class="container">
        <h1>Anak Ni Surat</h1>
        <div id="anak-nisurat"></div>
    </div>
</main>