---
layout: main
---

<main id="home" class="page">
    <form method="get" action="/" autocomplete="off" name="aksara-form" id="aksara-form">
        <input autocomplete="false" name="hidden" type="text" style="display:none;" />
        <textarea rows="5" autocomplete="off" id="aksara-input"></textarea>
        <section class="buttons">
            <button type="reset" class="btn">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </section>
    </form>
    <div id="aksara-output">ddd</div>
</main>